@model CRUD_Personas_ASP.Models.ViewModels.VM_PersonaListaDepartamentos

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>clsPersona</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
             <input type="hidden" value="@Model.Persona.Id" name="Persona.Id"/>
            <div class="form-group">
                <label asp-for="Persona.Nombre" class="control-label"></label>
                <input asp-for="Persona.Nombre" class="form-control" />
                <span asp-validation-for="Persona.Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Persona.Apellidos" class="control-label"></label>
                <input asp-for="Persona.Apellidos" class="form-control" />
                <span asp-validation-for="Persona.Apellidos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Persona.Direccion" class="control-label"></label>
                <input asp-for="Persona.Direccion" class="form-control" />
                <span asp-validation-for="Persona.Direccion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Persona.Telefono" class="control-label"></label>
                <input asp-for="Persona.Telefono" class="form-control" />
                <span asp-validation-for="Persona.Telefono" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Persona.FechaNacimiento" class="control-label"></label>
                <input asp-for="Persona.FechaNacimiento" class="form-control" />
                <span asp-validation-for="Persona.FechaNacimiento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Nombre Departamento: </label>
                <select name="Persona.IdDepartamento">
                @foreach (CRUD_Personas_Entities.clsDepartamento dpto in @Model.Departamentos)
                {
                    if (dpto.Id == @Model.Persona.IdDepartamento)
                    {
                        <option value="@dpto.Id" selected>@dpto.Nombre</option>
                    }
                    else
                    {
                        <option value="@dpto.Id">@dpto.Nombre</option>
                    }  
                }
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Persona.Foto" class="control-label"></label>
                <input asp-for="Persona.Foto" class="form-control" />
                <span asp-validation-for="Persona.Foto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}